@media only screen and (max-width:992px){

/*header-sticky*/
    header{
        height: 80px;
        transition: 0.5s;
    }
    
    footer .copyright{
        text-align: left;
        padding: 5px 10px 0 10px;
    }

    footer .coder{
        text-align: right;
        padding: 5px 10px 0 10px;
    }
}

@media only screen and (max-width:768px){
    footer .footerend{
        padding: 15px 0 10px 0;
    }
    
    footer .copyright{
        text-align: center;
        padding: 10px 0 5px 0;
    }

    footer .coder{
        text-align: center;
        padding: 5px 0 10px 0;
    }
}