*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/*general*/
body{
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color: white;
}
a:hover,
a:focus{
    text-decoration: none;
    color: inherit;
}

.full-xs{
    padding-left: 0;    
    padding-right: 0;    
}

/*HEADER*/

header{
    background-color: #181b21;
    color: white;
    position: fixed;
    width: 100%;
    height: 95px;
    overflow: visible;
    transition: 0.5s;
    z-index: 10;
}

header strong{
    text-transform: capitalize;
}

/*header>logo*/

header .logo{
    overflow: hidden;
    padding: 10px;
}

header .logo img{
    width: 200px;
}

/*header>nav-second*/

header .nav-second{
    padding: 5px 0;
}

header .nav-second .search{
    background-color: white;
    padding: 0;
}

header .nav-second .search-input{
    background-color: transparent;
    border: 0;
    color: black;
    padding: 2px 4px;
    font-size: 1em;
}

header .nav-second .search-input:focus{
    outline: none;
}

header .nav-second .search span{
    padding: 5px 0;
    text-align: center;
    color: white;
    background-color: #8ca4bf;
    cursor: pointer;
}

header .nav-second .search span:hover{
    color: #181b21;
}

header .nav-second .login,
header .nav-second .lang{
    padding: 1px 0;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
}

header .nav-second .login:hover,
header .nav-second .lang:hover{
    color: #181b21;
    background-color: white;
}

header .nav-second .login-sel{
    background-color: white;
}

header .nav-second .login-sel a{
    color: #181b21;
}

/*header>nav-primary*/

header .nav-primary{
    margin-top: 10px;
}

.nav-option{
    padding: 10px 0 11px 0;
    margin: 0 10px;
    border-bottom: 3px solid transparent
}

header .nav-primary li a{
    color: rgba(255,255,255,0.8);
    font-size: 1.1em;
}

header .nav-primary li a:hover,
header .nav-primary .nav-selected a{
    color: white;
}

header .nav-primary .nav-option:hover,
.nav-selected{
    border-bottom: 3px solid #8ca4bf;
}

/*header-sticky*/
.sticky-header{
    height: 80px;
    transition: 0.5s;
}

.sticky-header .nav-second{
    display: none;
}

.sticky-header .logo img{
    width: 180px;
}

.sticky-header .nav-primary{
    padding: 21px 0;
}

/*header>lang-menu*/
.lang-menu{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(24, 27, 33, 0.8);
    outline: 2px solid white;
    z-index: 1000;
}

.lang-menu .lang-option{
    padding: 5px 0;
    color: white;
    font-weight: lighter;
}

.lang-menu .lang-option:hover,
.lang-menu .lang-sel,
.lang-menu-mob .lang-option:hover,
.lang-menu-mob .lang-sel,
.burguer-menu-mob .menu-option:hover,
.burguer-menu-mob .menu-sel{
    text-decoration: line-through;
    font-weight: bold;
}

.lang-icon,
.menu-icon{
    transition: transform 0.4s;
}

.lang-menu-action {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: 0.4s;
}

/*lang-menu-mobile*/
.lang-menu-mob,
.burguer-menu-mob{
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(24, 27, 33, 0.9);
    z-index: 1000000000;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.lang-menu-mob .lang-option,
.burguer-menu-mob .menu-option{
    padding: 20px 0;
}

.lang-menu-mob .lang-option a,
.burguer-menu-mob .menu-option a{
    font-size: 1.2em;
    font-weight: lighter;
    text-transform: uppercase;
}

.burger-menu-action{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: 0.4s;
}

/*mobile-header*/
.logo-ipad,
.logo-iphone{
    overflow: hidden;
    padding: 0;
}

.logo-ipad img{
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.logo-iphone img{
    width: 60px;
    padding: 10px 0;
    margin: 0;
}

.mob-lang-btn,
.mob-menu-btn{
    padding: 18px 0;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.mob-lang-btn:hover,
.mob-menu-btn:hover{
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}

.menu-divider{
    width: 80%;
    margin: 0 10%;
}

/*MAIN*/
.main{
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 0;
    padding-top: 180px;
}

.main-home{
    background: url(../img/header-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-info{
    background: url(../img/header-info.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-localidades{
    background: url(../img/header-localidades.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-localidad{
    background: url(../img/header-localidad.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-actividades{
    background: url(../img/header-actividades.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-actividad{
    background: url(../img/header-actividad.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-home-cm{
    background: url(../img/header-homecm.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main .main-title,
.main .main-bajada{
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.main .main-title{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2.5em;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative;
}

.main .main-bajada{
    font-size: 1.2em;
    position: relative;
    padding: 10px 20%;
    top: 40px;
}

.page-down{
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    color: white;
    font-size: 4em;
    cursor: auto;
    text-align: center;
}

.page-down a{
    cursor: pointer;
}

/*home>content-uno*/
#home-content-uno .container-fluid{
    padding: 0;
}

#home-content-uno figure,
#home-content-uno img{
    padding: 0;
}

#home-content-uno figure{
    position: relative;
    overflow: hidden;
}

#home-content-uno figure figcaption{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
}

#home-content-uno figcaption h3{
    margin: 20% 0;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

#home-content-uno figcaption button{
    margin-top: 20%;
    padding: 10px 0;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid white;
    color: black;
}

#home-content-uno figcaption button:hover{
    background-color: white;
    transition: 0.4s;
}

/*CONTENT*/
.content{
    padding: 40px 0 50px 0;
    position: relative;
    overflow: hidden;
}

.mapa-container{
    background-color: #f4f2f1;
}

.content .content-title{
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;
    background-color: #181b21;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
}

.map-box{
    margin-top: 40px;
    height: 500px;
    background-color: black;
}

/*content>informacion*/

.content-info,
.content-localidades{
    background-color: #ebebeb;
}

.content-info .info-auto{
    margin-top: 40px;
    background-color: rgba(119, 132, 182, 0.5);
    padding: 30px 0 20px 0;
}

.content-info .info-locomocion{
    background-color: rgba(145, 161, 188, 0.5);
    padding: 30px 0 20px 0;
    margin-top: 20px;
}

.content p{
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
}

.content .info-modo-title h4, .content .info-title{
    text-transform: uppercase;
    color: #181b21;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.content .info-title{
    margin-top: 20px;
}

.content .info-title:first-child{
    margin-top: 0;
}

/*content>localidades*/
.content .img-container{
    overflow: hidden;
    margin-top: 30px;
    padding: 20px 0;
}

.img-container figure{
    position: relative;
}

.img-container img{
    width: 100%;
}

.img-container figure figcaption{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
}

.img-title{
    margin: 43% 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px 0;
    z-index: 5;
}

.img-title span{
    font-size: 1.5em;
}

.img-container figure figcaption:hover{
    transition: 0.4s;   
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.img-container figure figcaption:hover .img-title{
    background-color: rgba(0,0,0,0);
}

.btn-container{
    overflow: hidden;
    padding: 20px 0 10px 0;
}

.btn-container .page-btn{
    background-color: transparent;
    border: 2px solid #181b21;
    padding: 10px 0;
    color: #181b21;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn-container .page-btn:hover{
    background-color: #181b21;
    color: white;
    transition: 0.4s;
}

/*content-actividades*/
.content-act-airelibre{
    background-color: #f5f2f1;
}

.content-act-aventura{
    background-color: #ededed;
}

.content-act-salud{
    background-color: #dedede;
}

.content-actividad{
    padding: 20px 0;
}

.content-actividad .left-actividad {
    padding: 0 20px;
}

#slider-mini{
    max-height: 400px;
}

#slider-mini img{
    width: 100%;
    bottom: 0;
}

.content-desc{
    margin: 20px 0;
    padding: 0 10px;
}

.sharebox{
    background-color: rgba(24, 27, 33, 0.8);
    padding: 0;
}

.sharebox h3{
    margin: 0;
    padding: 15px 5px;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.2em;
}

.sharebox span{
    font-size: 2em;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.sharebox span:hover{
    background-color: transparent;
    transition: 0.4s;
}

.sharebox .fb-share{
    background-color: #3d3de2;
}

.sharebox .tw-share{
    background-color: #7ebfea;
}

.sharebox .mail-share{
    background-color: #d54853;
}

.sharebox .rss-share{
    background-color: #e6ad46;
}

.right-actividad{
    padding: 0 10px;
    background-color: rgba(145, 161, 188, 0.2);
}

.right-actividad h3{
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: bold;
}

.right-actividad .empresa-box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgba(145, 161, 188, 0.4);
    color: #181b21;
}

.empresa-box h4{
    text-transform: uppercase;
    font-weight: bold;
}

.empresa-box span{
    padding: 5px;
    margin-right: 10px;
    font-size: 1.2em;
}

.empresa-box a{
    color: inherit;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: light;
}

.empresa-box a:hover{
    text-decoration: line-through;
}

/*FOOTER*/
/*footer>subfooter*/
footer{
    bottom: 0;
    position: relative;
    z-index: 1;
}

footer .subfooter{
    background-color: rgba(24, 27, 33, 0.8);
    padding: 20px 0;
}

footer .rrss span{
    font-size: 2em;
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}

footer .rrss span:hover{
    color: white;
}

/*main2*/
.main2{
    position: relative;
    width: 100%;
    z-index: 0;
    padding: 120px 0 50px 0;
    background-color: #f3f1f0;
}

.main2-title{
    background-color: #181b21;
    color: white;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
}

.form{
    overflow: hidden;
    background-color: #dcdcdc;
    padding: 40px 20px;
    margin-top: 40px;
}

.input-form-50{
    width: 49%;
    margin-right: 2%;
}

.input-form,
.input-form-50{
    padding: 5px;
    margin-bottom: 20px;
    border: 0;
    font-weight: normal;
    font-size: 1em;
    resize: none;
}

.input-form:focus,
.input-form-50:focus{
    outline: 2px solid rgba(24, 27, 33, 0.8);
}

.input-form-50:nth-child(even){
    margin-right: 0;
}

.login-form .input-form{
    margin-bottom: 30px;
    padding: 15px 10px;
}

.login-form .form-btn{
    margin-top: 30px;
}

.form-btn{
    background-color: transparent;
    color: #181b21;
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 20px;
    border: 2px solid #181b21;
}

.form-btn:hover{
    background-color: #181b21;
    color: white;
    transition: 0.4s;
}

.mensaje-error,
.mensaje-ok{
    padding: 20px 10px;
    margin-top: 20px;
    color: white;
}

.mensaje-error{
    background-color: #dd4e4e;
}

.mensaje-ok{
    background-color: #4bb46b;
}
/*footer>footerend*/
footer .footerend{
    background-color: #181b21;
    padding: 20px 0;
}

footer .logo-footer{
    overflow: hidden;
}

footer .logo-footer img{
    width: 150px;
    padding: 0 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

footer .logo-footer img:hover{
    opacity: 1;
}

footer .copyright,
footer .coder{
    padding: 15px 5px 0 0;
}

footer .footerend .copyright,
footer .footerend .copyright a,
footer .footerend .coder,
footer .footerend .coder a{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}

footer .footerend .copyright a:hover,
footer .footerend .coder a:hover{
    color: white;
    text-decoration: line-through;
    transition: 0.5s;
}

footer .copyright{
    text-align: center;
}

footer .coder{
    text-align: right;
}


/*fix the z-index footer elements problem*/
footer.z-footer{
    z-index: -1;
}
