*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/*general*/
body{
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color: white;
}
a:hover,
a:focus{
    text-decoration: none;
    color: inherit;
}

/*HEADER*/

header{
    background-color: #181b21;
    color: white;
    position: fixed;
    width: 100%;
    height: 95px;
    overflow: visible;
    transition: 0.5s;
}

/*header>logo*/

header .logo{
    overflow: hidden;
    padding: 10px;
}

header .logo img{
    width: 200px;
}

/*header>nav-second*/

header .nav-second{
    padding: 5px 0;
}

header .nav-second .search{
    background-color: white;
    padding: 0;
}

header .nav-second .search-input{
    background-color: transparent;
    border: 0;
    color: black;
    padding: 2px 4px;
    font-size: 1em;
}

header .nav-second .search-input:focus{
    outline: none;
}

header .nav-second .search span{
    padding: 5px 0;
    text-align: center;
    color: white;
    background-color: #8ca4bf;
    cursor: pointer;
}

header .nav-second .search span:hover{
    color: #181b21;
}

header .nav-second .login,
header .nav-second .lang{
    padding: 1px 0;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
}

header .nav-second .login:hover,
header .nav-second .lang:hover{
    color: #181b21;
    background-color: white;
}

/*header>nav-primary*/

header .nav-primary{
    top: 10px;
}

.nav-option{
    padding: 10px 0 11px 0;
    margin: 0 10px;
    border-bottom: 3px solid transparent
}

header .nav-primary li a{
    color: rgba(255,255,255,0.8);
    font-size: 1.1em;
}

header .nav-primary li a:hover,
header .nav-primary .nav-selected a{
    color: white;
}

header .nav-primary .nav-option:hover,
.nav-selected{
    border-bottom: 3px solid #8ca4bf;
}

/*header-sticky*/
.sticky-header{
    height: 80px;
    transition: 0.5s;
}

.sticky-header .nav-second{
    display: none;
}

.sticky-header .logo img{
    width: 180px;
}

.sticky-header .nav-primary{
    padding: 21px 0;
}

/*header>lang-menu*/
.lang-menu{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(24, 27, 33, 0.8);
    outline: 2px solid white;
    z-index: 1000;
}

.lang-menu .lang-option{
    padding: 5px 0;
    color: white;
    font-weight: lighter;
}

.lang-menu .lang-option:hover,
.lang-menu .lang-sel,
.lang-menu-mob .lang-option:hover,
.lang-menu-mob .lang-sel,
.burguer-menu-mob .menu-option:hover,
.burguer-menu-mob .menu-sel{
    text-decoration: line-through;
    font-weight: bold;
}

.lang-icon,
.menu-icon{
    transition: transform 0.4s;
}

.lang-menu-action {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transition: 0.4s;
}

/*lang-menu-mobile*/
.lang-menu-mob,
.burguer-menu-mob{
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(24, 27, 33, 0.9);
    z-index: 1000000000;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.lang-menu-mob .lang-option,
.burguer-menu-mob .menu-option{
    padding: 20px 0;
}

.lang-menu-mob .lang-option a,
.burguer-menu-mob .menu-option a{
    font-size: 1.2em;
    font-weight: lighter;
    text-transform: uppercase;
}

.burger-menu-action{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: 0.4s;
}

/*mobile-header*/
.logo-ipad,
.logo-iphone{
    overflow: hidden;
    padding: 0;
}

.logo-ipad img{
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.logo-iphone img{
    width: 60px;
    padding: 10px 0;
    margin: 0;
}

.mob-lang-btn,
.mob-menu-btn{
    padding: 18px 0;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.mob-lang-btn:hover,
.mob-menu-btn:hover{
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}

.menu-divider{
    width: 80%;
    margin: 0 10%;
}

/*FOOTER*/
/*footer>subfooter*/
footer{
    bottom: 0;
    position: relative;
    z-index: 1;
}

footer .subfooter{
    background-color: rgba(24, 27, 33, 0.8);
    padding: 20px 0;
}

footer .rrss span{
    font-size: 2em;
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}

footer .rrss span:hover{
    color: white;
}

/*footer>footerend*/
footer .footerend{
    background-color: #181b21;
    padding: 20px 0;
}

footer .logo-footer{
    overflow: hidden;
}

footer .logo-footer img{
    width: 150px;
    padding: 0 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
}

footer .logo-footer img:hover{
    opacity: 1;
}

footer .copyright,
footer .coder{
    padding: 15px 5px 0 0;
}

footer .footerend .copyright,
footer .footerend .copyright a,
footer .footerend .coder,
footer .footerend .coder a{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}

footer .footerend .copyright a:hover,
footer .footerend .coder a:hover{
    color: white;
    text-decoration: line-through;
    transition: 0.5s;
}

footer .copyright{
    text-align: center;
}

footer .coder{
    text-align: right;
}


/*fix the z-index footer elements problem*/
footer.z-footer{
    z-index: -1;
}
