@media only screen and (max-width:992px){

/*header-sticky*/
    header{
        height: 80px;
        transition: 0.5s;
    }
    
    .main-container{
        padding-top: 160px;
    }
    
    .main .main-bajada{
        padding: 10px 5%;
    }
    
    .map-box{
        height: 300px;
    }
    
    footer .copyright{
        text-align: left;
        padding: 5px 10px 0 10px;
    }

    footer .coder{
        text-align: right;
        padding: 5px 10px 0 10px;
    }
}

@media only screen and (max-width:768px){
    .modificar-form label{
        float: left;
        text-align: left;
    }
    .main{
        height: 600px;
        max-height: 100vh;
    }
    .main-container{
        padding-top: 120px;
    }
    
    .content .content-title,
    .page-btn{
        font-size: 1.5em;
    }
    
    .content p{
        font-size: 1em;
    }
    
    .right-actividad{
        margin-top: 30px;
    }
    
    .right-actividad .empresa-box{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    /*content-info*/
    
    .content .info-auto,
    .content .info-locomocion{
        padding: 20px 0 25px 0;
    }
    
    .content .info-modo-title h4{
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 2em;
    }
    
    /*content-localidades*/
    .img-title{
        font-size: 1em;
        padding: 10px;
    }
    
    .content-actividad .left-actividad,
    .content-actividad{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    #home-content-uno figcaption h3{
        margin-top: 20%;
        font-size: 1.5em;
    }
    
    #home-content-uno figcaption button{
        margin-top: 10%;
        font-size: 1.2em;
    }
    
    .main .main-title{
        font-size: 2em;
        padding: 10px 2%;
    }
    
    .main2 .main2-title{
        font-size: 2em;
        padding: 10px 0;
    }
    
    .main .main-bajada{
        font-size: 1em;
        padding: 10px 5%;
    }
    
    .input-form-50,
    .input-form,
    .login-form .input-form{
        width: 100%;
        padding: 13px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    footer .footerend{
        padding: 15px 0 10px 0;
    }
    
    footer .copyright{
        text-align: center;
        padding: 10px 0 5px 0;
    }

    footer .coder{
        text-align: center;
        padding: 5px 0 10px 0;
    }
}